{% extends 'rankings/base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center" style="color: #c8c097;">Password Reset Complete</h1> <!-- Light beige title -->
    
    <div class="row justify-content-center">
        <div class="col-lg-6"> <!-- Narrower width for the form -->
            <div class="border p-4 rounded" style="background-color: #ffffff; border-color: #c8c097;"> <!-- White background with light beige border -->
                <p class="text-center" style="color: #104730;"> <!-- Dark green text -->
                    Your password has been successfully reset. You can now log in with your new password.
                </p>

                <!-- Login Link -->
                <p class="mt-3 text-center" style="color: #104730;"> <!-- Dark green text -->
                    <a href="{% url 'login' %}" style="color: #c8c097;">Log In</a> <!-- Light beige link -->
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}