{% extends 'rankings/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8"> <!-- Narrower width for the content -->
            <div class="home-container">
                <h1 class="my-4 text-center home-title">
                    <span>Your account is pending approval</span>
                </h1>
                <p class="text-center home-text">
                    Thank you for signing up! Your account is currently awaiting approval by the admin. Please check back later for updates.
                </p>
                <p class="text-center home-text">
                    If you have any questions, please <a href="mailto:contact@miamiracketclub.com" class="home-link">contact us</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
